project_files/templates/esquema_producto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="productos" minOccurs="1" maxOccurs="1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="producto" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="descripcion" maxOccurs="1" minOccurs="0" default="" />
							<xs:element type="xs:string" name="observaciones" maxOccurs="1" minOccurs="0" default="" />
						</xs:sequence>
						<xs:attribute type="xs:string" name="producto" use="required" />
						<xs:attribute type="xs:float" name="precio" use="required" />
						<xs:attribute type="xs:string" name="idwinapp" use="optional" default="" />
						<xs:attribute type="xs:boolean" name="activo" use="optional" default="true" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>