project_files/templates/esquema_pedido.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pedidos" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pedido" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="partida" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="idpedido" use="optional" />
                      <xs:attribute type="xs:string" name="idwinapp" use="optional" default="" />
                      <xs:attribute type="xs:int" name="idproducto" use="optional" default="" />
                      <xs:attribute type="xs:int" name="idwinappprod" use="optional" default="" />
                      <xs:attribute type="xs:string" name="producto" use="required" default="" />
                      <xs:attribute type="xs:int" name="cantidad" use="required" default="" />
                      <xs:attribute type="xs:float" name="precio" use="required" default="" />
                      <xs:attribute type="xs:float" name="importe" use="optional" default="" />
                      <xs:attribute type="xs:string" name="estado" use="required" default="" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:int" name="idpedido" use="required"/>
            <xs:attribute type="xs:string" name="idwinapp" use="optional"/>
            <xs:attribute type="xs:string" name="cteidwinapp" use="optional"/>
            <xs:attribute type="xs:string" name="cliente" use="required"/>
            <xs:attribute type="xs:string" name="sucursalentrega" use="required"/>
            <xs:attribute type="xs:string" name="sucursalcobro" use="required"/>
            <xs:attribute type="xs:string" name="sucursalfacturacion" use="required"/>
            <xs:attribute type="xs:string" name="fechapedido" use="optional"/>
            <xs:attribute type="xs:time" name="horapedido" use="optional"/>
            <xs:attribute type="xs:string" name="fechaentrega" use="optional"/>
            <xs:attribute type="xs:time" name="horaentrega" use="optional"/>
            <xs:attribute type="xs:string" name="estado" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>